<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Automated_Customer_Notifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <connectionStrings>
      <add name="Ecommerce" connectionString="Data Source=PRD-ECOM-DB;Initial Catalog=PRD-ECOM-DB;User id=devuser;Password=2878920;MultipleActiveResultSets=true;Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
      <add name="Navision" connectionString="Data Source=PRD-NAV-DB;Initial Catalog=GSS;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
      <add name="TstEcomDb" connectionString="Data Source=TST-ECOM-DB;Initial Catalog=TST-ECOM-DB;User id=devuser;Password=2878920;MultipleActiveResultSets=true;Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
      <add name="TstNavDb" connectionString="Data Source=TST-SMG-DB;Initial Catalog=GSS;Integrated Security=SSPI;MultipleActiveResultSets=true; Asynchronous Processing=true;Connection Timeout=60" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <appSettings>
    <add key="EcommerceSP" value="[dbo].[Ecommerce.AutoResponder.New.Control]"/>
    <add key="NavisionSP" value="[dbo].[Ecommerce.Customer.Automated.Notifications.Control]"/>
    <add key="deploymentMode" value="production"/>
	<add key="testEmail" value="aatest@govsci.com"/>

    <add key="emailHost" value="webmail.govsci.com"/>
    <add key="emailUsername" value="ecommercesystem"/>
    <add key="emailPassword" value="Secure1"/>
    <add key="emailDomain" value="GSS1"/>
    <add key="emailAdmin" value="gss-it-development@govsci.com"/>

	  <add key="orderConfirmFolder" value="\\prd-biztalk\documents\OUT\Status\Created\OrderConfirmation\"/>
	  <add key="shipNoticeFolder" value="\\prd-biztalk\documents\OUT\Status\Created\ASN\"/>

	  <!--<add key="orderConfirmFolder" value="\\dev-biztalk\documents\OUT\Status\Outgoing\OrderConfirmation\"/>
	<add key="shipNoticeFolder" value="\\dev-biztalk\documents\OUT\Status\Outgoing\ASN\"/>-->
  </appSettings>
    <applicationSettings>
        <Automated_Customer_Notifications.Properties.Settings>
            <setting name="Automated_Customer_Notifications_API_DHL_gblDHLExpressTrack" serializeAs="String">
                <value>https://wsb.dhl.com:443/gbl/glDHLExpressTrack</value>
            </setting>
            <setting name="Automated_Customer_Notifications_API_Fedex_TrackService" serializeAs="String">
                <value>https://ws.fedex.com:443/web-services/track</value>
            </setting>
            <setting name="Automated_Customer_Notifications_API_ODFL_TraceService" serializeAs="String">
                <value>http://www.odfl.com/TraceWebServiceWeb/services/Trace</value>
            </setting>
            <setting name="Automated_Customer_Notifications_API_UPS_TrackService" serializeAs="String">
                <value>https://onlinetools.ups.com/webservices/Track</value>
            </setting>
        </Automated_Customer_Notifications.Properties.Settings>
    </applicationSettings>
</configuration>
